#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
font-weight: bold;
margin: 0px 6rem; 
  
}

.logo {
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo p{
  font-size: 24px;
  padding-right: 3px;
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav ul{
list-style: none;

}

.header-nav ul li{
display: inline-block;
padding: 0px 6px;
transition:all ease-in 0.5s;
cursor: pointer;
}

.header-nav ul li:hover{
 text-underline-position: below;
 text-underline-offset: 2;
 color: blue;
}

  .header-ico-shop :first-child{
font-size: 50px;
padding:0px 1rem;
  }

  .header-ico-shop :nth-child(2){
    width: 40px;
    border-radius: 50%;

  }

  .banner-wrapper {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
  .banner{
    width: 100%;
    height: auto;
    position: relative;
  }
.banners{
  display: flex;
  transition: all 0.5s ease;
}
  .banner-wrapper .banners img{
    width: 100vw;
    height: 50%;

}
 .banner-arrow{
  position: absolute;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 70px;
  left: 43vw;
  /* right: 0; */
  /* top: 0; */

 }
  .arrow{
   width: 50px;
   height: 40px;
   border: solid 2px ;
   color: gray;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   transition: all ease-in 0.3s;


  }
.left-arrow{
  margin-right:2rem ;
}
  .arrow:hover{
    cursor: pointer;
    color: rgb(209, 209, 209);
    background-color: black;
  }

  .product-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9rem;
  }

  .product-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-wrapper .product-text h1{
    /* border: none; */
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 4rem;
   
  }

  .product-text span{
    background-color: black;
    width: 6rem;
    height: 5px;
  }

  .product-text p{
    max-width: 700px;
    text-align: center;
  }

  .footer-wrapper{
    display: flex;
    background-color: black;
    color: #949494;
  }